
    <% include partials/header %>
    <h1>Anasayfa</h1>
    <p>Bizim Restuoranta Hoş Geldiniz</p>
    <hr>
    <a href="/yemekler">Yemekler</a><hr>
    <a href="/yemekler/yeni">Yeni Yemek Ekle</a><hr>
    <% include partials/footer %>